<h1 class="mt-5">Employees</h1>

<form class="mt-4 mb-4">
  <div class="form-group form-inline">
      Email: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="email" (keyup.enter)="onSearch()"/>
      <span class="ml-3" *ngIf="isLoading | async">Loading...</span>
      <div class="ml-auto">
        <button ngbButton type="button" (click)="onCleanFilters()" class="btn btn-light mr-2">Clean</button>
        <button ngbButton type="button" (click)="onSearch()" class="btn btn-primary">Search</button>
      </div>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col" sortable="id">#</th>
      <th scope="col" sortable="name">Name</th>
      <th scope="col" sortable="surname">Surname</th>
      <th scope="col" sortable="address">Address</th>
      <th scope="col" sortable="phone">Phone</th>
      <th scope="col" sortable="email">Email</th>
      <th scope="col" sortable="birthdate">Birthdate</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees$ | async">
      <th scope="row"><a [title]="employee.id" [routerLink]="['/employees', employee.id]">
        {{ employee.id }}
      </a></th>
      <td>{{ employee.name }}</td>
      <td>{{ employee.surname }}</td>
      <td>{{ employee.address }}</td>
      <td>{{ employee.phone }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.birthdate | date:'dd/MM/yyyy' }}</td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="(total$ | async)!" [(page)]="page" [pageSize]="pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize">
      <option [ngValue]="5">5 items per page</option>
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="20">20 items per page</option>
      <option [ngValue]="50">50 items per page</option>
    </select>
  </div>

</form>
